.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: var(--spacing-xlg);
}
.mainCard {
  width: 100%;
  min-height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: var(--spacing-md);
  gap: var(--spacing-xlg);
  border-bottom: 1px solid var(--border-color);
}
.posterImg {
  width: 165px;
  border-radius: var(--border-radius);
}
.moviesInfo {
  width: 50%;
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
  padding: var(--spacing-md);
}
.movieTitle {
  font-size: 2rem;
}
.releaseDate {
  font-size: 1rem;
}
.btnExp {
  font-size: 1.1rem;
  button {
    display: inline;
    padding: 0 var(--spacing-sm);
    box-shadow: none;
  }
}
.deleteBtn {
  border: 1px solid #8c1717;
  border-radius: var(--border-radius);
  background-color: #3d0a0a;
  padding: var(--spacing-sm) var(--spacing-md);
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
  &:hover {
    background: #dc2626;
    box-shadow: 0px 0px 20px 5px #8c1717;
  }
}
@media only screen and (max-width: 1300px) {
  .posterImg {
    width: 130px;
  }
  .releaseDate {
    font-size: 0.8rem;
  }
  .movieTitle {
    font-size: 1.3rem;
  }
  .btnExp {
    font-size: 0.8rem;
    button {
      font-size: 0.8rem;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .posterImg {
    width: 120px;
  }
  .releaseDate {
    font-size: 0.7rem;
  }
  .movieTitle {
    font-size: 1.2rem;
  }
  .btnExp {
    font-size: 0.7rem;
    button {
      font-size: 0.7rem;
    }
  }
}
@media only screen and (max-width: 900px) {
  .deleteBtn {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 700px) {
  .mainCard {
    gap: var(--spacing-md);
  }
  .posterImg {
    width: 110px;
  }
  .releaseDate {
    font-size: 0.6rem;
  }
  .movieTitle {
    font-size: 1rem;
  }
  .btnExp {
    font-size: 0.6rem;
    button {
      font-size: 0.6rem;
    }
  }
  .deleteBtn {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .mainCard {
    gap: var(--spacing-sm);
  }
  .posterImg {
    width: 90px;
  }
  .releaseDate {
    font-size: 0.5rem;
  }
  .movieTitle {
    font-size: 0.9rem;
  }
  .btnExp {
    font-size: 0.5rem;
    button {
      font-size: 0.5rem;
    }
  }
  .deleteBtn {
    padding: var(--spacing-xsm) var(--spacing-sm);
  }
}
@media only screen and (max-width: 360px) {
  .posterImg {
    width: 80px;
  }
  .releaseDate {
    font-size: 0.4rem;
  }
  .movieTitle {
    font-size: 0.8rem;
  }
  .btnExp {
    font-size: 0.4rem;
    button {
      font-size: 0.4rem;
    }
  }
}
