.listEmpty {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 50%);
}
.buttonsRedi {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--spacing-xlg);
}
.emptyFolder {
  width: 150px;
  margin: 0 auto var(--spacing-xlg) auto;
}
.emptyText {
  text-align: center;
  font-size: 3.4rem;
}
.redirectBtn {
  width: fit-content;
  border: none;
  background: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  transition: 0.2s ease;
  &:hover {
    background: var(--btn-hover-color);
    box-shadow: 0px 0px 22px -4px var(--btn-hover-shadow-color);
    cursor: pointer;
  }
}
@media only screen and (max-width: 1300px) {
  .emptyFolder {
    width: 140px;
  }
  .emptyText {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .emptyFolder {
    width: 120px;
  }
  .emptyText {
    font-size: 2.5rem;
  }
  .redirectBtn {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 750px) {
  .emptyFolder {
    width: 100px;
  }
  .emptyText {
    font-size: 2rem;
  }
  .redirectBtn {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .emptyFolder {
    width: 80px;
  }
  .emptyText {
    font-size: 1.5rem;
  }
  .redirectBtn {
    padding: 0.4rem 0.4rem;
  }
}
@media only screen and (max-width: 470px) {
  .emptyFolder {
    width: 60px;
    margin-bottom: 1.2rem;
  }
  .emptyText {
    font-size: 1rem;
  }
  .redirectBtn {
    padding: 0.3rem 0.3rem;
  }
  .buttonsRedi {
    flex-direction: column;
    margin-top: 1.2rem;
    gap: var(--spacing-md);
  }
}
@media only screen and (max-width: 350px) {
  .emptyFolder {
    width: 40px;
  }
  .emptyText {
    font-size: 0.8rem;
  }
}
