# your token should looks like this to get a token or API key visit https://www.themoviedb.org/ for omdb visit https://www.omdbapi.com/
VITE_TMDB_TOKEN=your_tmdb_bearer_token_here
VITE_OMDB_KEY=your_omdb_api_key