.error {
  width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 3px solid #8c1717;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  z-index: 5;
  border-radius: var(--border-radius);
  background: #3d0a0a;
}
.errorImage {
  width: 40px;
}
.errorMessage {
  margin: var(--spacing-lg);
  font-size: 1rem;
  color: #f8fafc;
  text-align: center;
}
.errorLogo {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: var(--spacing-sm) 0;
  border-bottom: 1px solid #8c1717;
  .errorText {
    color: #dc2626;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: var(--text-letter-spacing);
    font-family: var(--heading-font-family);
    margin-top: var(--spacing-xsm);
  }
}
.buttonLink,
.btnClose {
  border: 1px solid #8c1717;
  border-radius: var(--border-radius);
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  margin: var(--spacing-sm) auto;
  transition: background 0.2s ease;
  &:hover {
    background: #dc2626;
  }
}
