.summary {
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  padding: var(--spacing-lg) 0 var(--spacing-lg) var(--spacing-md);
  .overview {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
  }
  .btnExpand {
    button {
      display: inline;
      padding: 0 var(--spacing-sm);
      box-shadow: none;
    }
  }
}
