.summary {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: var(--spacing-lg) 0 var(--spacing-lg) var(--spacing-md);
  .overview {
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
  }
  .btnExpand {
    button {
      display: inline;
      padding: 0 var(--spacing-sm);
      box-shadow: none;
    }
  }
}
