.ratings {
  display: flex;
  align-items: center;
}
.ratingImg {
  width: clamp(15px, 2vw, 20px);
  margin-right: var(--spacing-sm);
}
.rate {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-md) 0 0;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  &:not(:last-child)::after {
    content: "";
    width: 8px;
    height: 8px;
    margin-left: var(--spacing-md);
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: drop-shadow(0 0 0.3rem var(--btn-hover-shadow-color));
  }
  .rateTotal {
    color: rgba(248, 250, 252, 0.6);
  }
}
