.main {
  width: 100%;
  height: 100%;
  border: 3px solid cyan;
  position: relative;
  /* padding: var(--spacing-md) var(--spacing-sm); */
  z-index: 0;
  display: grid;
  div {
    border: 3px sienna;
  }
}
