.cinescope {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .cinescopelogo {
    width: 50px;
    height: 100%;
  }
  .cinescopetext {
    width: 120px;
    padding-left: var(--spacing-sm);
  }
}
