.cinescope {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cinescopelogo {
  width: 50px;
  height: 100%;
}
.cinescopetext {
  width: 120px;
  padding-left: var(--spacing-sm);
}
@media only screen and (max-width: 800px) {
  .cinescopelogo {
    width: 30px;
  }
  .cinescopetext {
    width: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .cinescopelogo {
    width: 25px;
  }
  .cinescopetext {
    width: 85px;
  }
}
@media only screen and (max-width: 480px) {
  .cinescopelogo {
    width: 20px;
  }
  .cinescopetext {
    width: 65px;
  }
}
