.aside {
  width: fit-content;
  height: 100%;
  border-right: 3px solid var(--border-color);
  background: var(--bg-color);
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.2s ease;
  &:hover {
    background: var(--surface-hover-color);
  }
  ul {
    border-bottom: 2px solid var(--border-color);
    &:hover {
      border-color: var(--bg-color);
    }
    &:last-child {
      border: none;
    }
    div {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  li {
    margin: var(--spacing-sm) 0;
  }
  img {
    width: 25px;
    margin: 0 var(--spacing-sm);
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    margin-right: var(--spacing-sm);
  }
  .sidebarbtn {
    width: 100%;
    justify-content: center;
    background: transparent;
    padding: var(--spacing-sm);
    &:hover {
      box-shadow: 0px 0px 13px 2px rgb(37, 99, 235);
      background: #2563eb;
    }
    p {
      margin-right: var(--spacing-xlg);
    }
  }
  .home {
    div {
      border-radius: 12px;
      padding: var(--spacing-sm);
      transition: 0.2s ease;
      &:hover {
        box-shadow: 0px 0px 13px 2px rgb(37, 99, 235);
        background: #2563eb;
        cursor: pointer;
      }
    }
  }
  .arrows {
    width: 6px;
    margin-left: auto;
    margin-right: var(--spacing-xsm);
  }
  .user,
  .categories {
    .category {
      display: flex;
      position: relative;
      border-radius: 12px;
      padding: var(--spacing-sm);
      margin-left: var(--spacing-lg);
      &:hover {
        border-color: var(--border-color);
        box-shadow: 0px 0px 13px 2px rgb(37, 99, 235);
        background: #2563eb;
        cursor: pointer;
      }
    }
    .categoryimg {
      width: 15px;
      margin-right: var(--spacing-sm);
    }
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto var(--spacing-md) var(--spacing-md) 0;
    p {
      font-size: 0.8rem;
    }
    div {
      width: 100%;
      padding: var(--spacing-sm);
      display: flex;
      align-items: center;
      border-radius: 12px;
      transition: all 0.2s ease;
      &:hover {
        box-shadow: 0px 0px 13px 2px rgb(37, 99, 235);
        background: #2563eb;
        cursor: pointer;
      }
    }
  }
}
