.rates {
  width: 20%;
  height: 20px;
  background-color: var(--background-skeleton-color);
  border-radius: 4px;
  display: inline-block;
  background: var(--back-skeleton-linear);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
